<h3>Create a new Cocktail</h3>

<%= form_for(@cocktail) do |f| %>
<div> <%= f.label :name  %>
  <%= f.text_field :name %>
</div>
<%= f.submit %>
<br><br>
<%= link_to "Back to Cocktail List", cocktails_path %>
<% end %>

<!-- <div>
<%= simple_form_for(@restaurant) #do |f| %>
  <% #if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each #do |message| %>
          <li><%= message %></li>
        <% #end %>
      </ul>
    </div>
  <% #end %>
</div> -->
