<div class="container">
  <h1>Add Ingredient(s)</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
 <!--  <%= \t\t\t %> -->
  <%= f.input :description %>
  <%= f.submit 'Add Dose', class: 'btn btn-primary' %>
 <br></br>
  <%= link_to "Back to Cocktail", cocktail_path(@cocktail), class: 'btn btn-primary' %>

  <% end %>
  </div>
